.qna{
  position: relative;
  width: 350px;
  height: 55px;
  box-shadow: rgb(0 0 0 / 4%) 0px 4px 16px 0px;
  transition: box-shadow 0.25s ease-in 0s, transform 0.25s ease-in 0s;
  display: flex;
  flex-direction: row;
  justify-content: center;
  cursor: pointer;
  margin: 0px 25px 0px 0px;
  margin-block-start: 0em;
  margin-block-end: 0em;
  background: #FFFFFF;
  border: 0.5px solid #C4C4C4;
  box-sizing: border-box;
  border-radius: 12px;

  .qna-id{
    position: absolute;
    width: 20px;
    height: 18px;
    left: 15px;
    top: 18px;

    font-family: Noto Sans KR;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 18px;
    display: flex;
    align-items: center;
    color: #C4C4C4;
  }

  .qna-title{
    position: absolute;
    width: 204px;
    height: 18px;
    left: 42px;
    top: 17px;

    font-family: Noto Sans KR;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 18px;

    display: flex;
    align-items: center;

    color: #000000;
  }

  .qna-wrap{
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    right: 0px;
    top: 10px;

    .qna-wrap-date{
      position: relative;
      right: 10px;
      top: -5px;

      font-family: Noto Sans KR;
      font-style: normal;
      font-weight: 500;
      font-size: 12px;
      line-height: 18px;
      /* identical to box height, or 150% */

      display: flex;
      align-items: center;

      color: #C4C4C4;
    }

    .qna-wrap-comment{
      position: relative;
      right: 10px;
      bottom: 0px;

      font-family: Noto Sans KR;
      font-style: normal;
      font-weight: 500;
      font-size: 12px;
      line-height: 18px;

      display: flex;
      align-items: center;

      color: #1571FF;
    }
  }
}
.qna:hover {
  background: #FFFFFF;
  border: 1px solid #C4C4C4;
  box-sizing: border-box;
  border-radius: 12px;
  box-shadow: rgb(0 0 0 / 10%) 10px 10px 16px 0px;
}