.container{
  position: relative;
  display: flex;
  justify-content: center;
  margin: 0px;
  padding-top: 50px;
  width: 100vw;
  height: 100vh;
  background: #F7F7F7;
  overflow: scroll;
  overflow-y: scroll;

  .info{
    position: absolute;
    display: inline-block;
    width: 1000px;
    height: 240px;

    .info-main{
      position: absolute;
      display: flex;
      justify-content: center;
      width: 200px;
      height: 100%;

      .info-main-thumb{
        position: absolute;
        display: flex;
        justify-content: center;
        width: 170px;
        height: 170px;

        .info-main-thumb-container{
          border: 1px solid gainsboro;
          width: 164px;
          height: 164px;
          border-radius: 70%;
          padding-left: 20px;
          padding-right: 20px;
          object-fit: cover;
          overflow: hidden;
          box-shadow: rgb(0 0 0 / 6%) 0px 0px 4px 0px;

          .info-main-thumb-img{
            display: block;
            width: 100%;
            height: 100%;
          }
        }
      }

      .info-main-name{
        position: absolute;
        bottom: 0px;
        width: 184px;
        display: flex;
        justify-content: center;

        .info-main-name-style{
          display: inline-block;
          justify-content: center;
          padding: 1em 2em;
          border-radius: 0;
          color: #b2876f;
          margin-top:2rem;
          font-weight: bold;
          font-size: 0.8rem;
          letter-spacing: 2px;
          text-transform: uppercase;
          text-decoration: none;
          background: linear-gradient(to right, rgba(#b2876f, 0) 25%, rgba(#b2876f, .8) 75%);
          background-position: 1% 50%;
          background-size: 400% 300%;
          border: 1px solid #b2876f;

          &:hover{
            color: white;
            color: #fff;
            background-position: 99% 50%;
          }
        }
      }

    }

    .info-sub{
      position: absolute;
      display: flex;
      flex-direction: column;
      justify-content: center;
      margin-left: 270px;
      width: 600px;
      height: 170px;

      .info-sub-recruit{
        position: relative;
        display: flex;
        flex-direction: row;
        align-items: center;
        height: 40px;
        width: 220px;
        background: #C4C4C4;
        border-radius: 18px;
        margin-bottom: 50px;

        .info-sub-recruit-icon{
          position: absolute;
          left: 20px;
        }

        .info-sub-recruit-date{
          margin-left: 50px;
        }
      }

      .info-sub-tags{
        position: relative;
        display: flex;
        flex-direction: row;
        align-items: center;
        width: 220px;
        height: 40px;
        background: #C4C4C4;
        border-radius: 18px;

        .info-sub-tags-icon{
          position: absolute;
          left: 20px;
        }

        .info-sub-tags-list{
          margin-left: 50px;
        }
      }
    }

    .info-util{
      position: absolute;
      display: flex;
      flex-direction: column;
      margin-left: 720px;
      width: 200px;
      height: 170px;
      right: 0px;

      .info-util-alert{
        position: absolute;
        display: flex;
        flex-direction: row;
        align-items: center;
        right: 0px;
        bottom: 20px;

        .info-util-alert-btn{
          display: inline-flex;
          -webkit-box-align: center;
          align-items: center;
          -webkit-box-pack: center;
          justify-content: center;
          font-weight: bold;
          cursor: pointer;
          outline: none;
          border: none;
          background: #538DFF;
          color: white;
          border-radius: 4px;
          padding: 0px 1.125rem;
          height: 2.5rem;
          font-size: 1.125rem;
        }
      }

    }
  }

  /**/

  .content{
    position: absolute;
    display: inline-block;
    top: 300px;
    width: 1000px;
    height: 450px;
    margin-bottom: 50px;

    .content-menu{
      position: absolute;
      left: 0px;
      width: 200px;
      height: auto;

      background: #FFFFFF;
      border: 1px solid #C4C4C4;
      border-radius: 15px;

      span{
        font-family: Noto Sans KR;
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        line-height: 18px;
      }

      .content-menu-box{
        position: relative;
        width: 100%;
        height: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-bottom: 1px solid #C4C4C4;
        cursor: pointer;
      }
      .content-menu-box.on{
        color: #538DFF;
        font-weight: bold;
      }

      .content-menu-qna{
        position: relative;
        width: 100%;
        height: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-bottom: 1px solid #FFFFFF;
        cursor: pointer;
      }
      .content-menu-qna.on{
        color: #1571FF;
        font-weight: bolder;
      }
    }

    .content-container{
      position: absolute;
      display: flex;
      justify-content: center;
      left: 210px;
      width: calc(100% - 210px);
      height: 100%;
      background: #FFFFFF;
      border-radius: 16px;
      align-items: center;

      .content-container-bar{
        position: absolute;
        width: 400px;
        height: 40px;
        left: 10px;
        top:-40px;

        .content-container-bar-title{
          display: flex;
          position: absolute;
          align-items: center;
          left: 10px;
          width: 80px;
          height: 100%;

          .content-container-bar-title-icon{
            position: relative;
            width: 20px;
            height: 20px;
            transform: scaleX(-1);
          }
          .content-container-bar-title-title{
            position: absolute;
            left: 25px;
            font-family: Noto Sans KR;
            font-style: normal;
            font-weight: 500;
            font-size: 24px;
            line-height: 18px;
          }
        }

        .content-container-bar-sort{
          display: flex;
          position: absolute;
          justify-content: right;
          align-items: center;
          right: 10px;
          width: 80px;
          height: 100%;

          div1{
            position: absolute;
            display: flex;
            justify-content: center;
            align-items: center;
            bottom: 0px;
            right: 216px;
            width: 70px;
            height: 70%;
            background: #C4C4C4;
            border-radius: 12px 0px 0px 0px;
            font-weight: 500;
            font-size: 12px;
            line-height: 18px;
          }

          div2{
            position: absolute;
            display: flex;
            justify-content: center;
            align-items: center;
            bottom: 0px;
            right: 144px;
            width: 70px;
            height: 70%;
            background: #C4C4C4;
            border-radius: 0px 0px 0px 0px;
            font-weight: 500;
            font-size: 12px;
            line-height: 18px;
          }

          div3{
            position: absolute;
            display: flex;
            justify-content: center;
            align-items: center;
            bottom: 0px;
            right: 72px;
            width: 70px;
            height: 70%;
            background: #C4C4C4;
            border-radius: 0px 0px 0px 0px;
            font-weight: 500;
            font-size: 12px;
            line-height: 18px;
          }

          div4{
            position: absolute;
            display: flex;
            justify-content: center;
            align-items: center;
            bottom: 0px;
            right: 0px;
            width: 70px;
            height: 70%;
            background: #C4C4C4;
            border-radius: 0px 12px 0px 0px;
            font-weight: 500;
            font-size: 12px;
            line-height: 18px;
          }
        }

      }

      .content-container-search{
        position: absolute;
        width: 300px;
        height: 40px;
        right: 5px;
        top:-45px;
        display: flex;
        flex-direction: row;
        align-items: center;
        background: #FFFFFF;
        border: 0.5px solid #C4C4C4;
        box-sizing: border-box;
        border-radius: 18px;

        .content-container-search-title{
          position: absolute;
          left: 15px;
          font-family: Noto Sans KR;
          font-style: normal;
          font-weight: 500;
          font-size: 14px;
          line-height: 18px;
          display: flex;
          align-items: center;
          flex: none;
          order: 0;
          flex-grow: 0;
        }

        .content-container-search-input{
          position: absolute;
          left: 50px;
          height: 1rem;
          border: none;
          outline: none;
        }

        .content-container-search-icon{
          position: absolute;
          right: 15px;
          height: 1rem;
        }
      }

      .content-container-qna{
        position: absolute;
        padding-top: 20px;
        height: 95%;
        width: 95%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
      }
    }
  }
}