.container{
  position: relative;
  margin: 0px;
  width: 100vw;
  height: 100vh;
  background: #F7F7F7;
  overflow: scroll;

  .info{
    position: absolute;
    width: 980px;
    height: 240px;
    background: pink;

    .info-main{

      .info-main-thumb{

      }

      .info-main-name{

      }

    }

    .info-sub{

      .info-sub-recruit{

      }

      .info-sub-tags{

      }
    }

    .info-util{

      .info-util-alert{

      }

    }
  }
}