.login-modal{
  position: absolute;
  top: 170px;
  left: calc(50% - 280px);
  height: 400px;
  width: 560px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background: #fff;
  overflow: auto;
  WebkitOverflowScrolling: touch;
  outline: none;
  padding: 20px;
  animation: 0.4s ease-in-out 0s 1 normal forwards running hwrkPK;
  box-shadow: rgb(0 0 0 / 9%) 0px 2px 12px 0px;



  .title{
    display: flex;
    margin-top: 60px;
    margin-left: 86px;
    font-size: 26px;
    font-weight: bold;


    .icon{
      height: 2rem;
      width: 2rem;
      margin-right: 0.5rem;
    }

  }

  .container{
    margin-left: calc(50% - 250px);
    box-sizing: border-box;


    .id{
      display: flex;
      margin-top: 2rem;
      margin-left: 50px;
      padding-left: 0.8rem;
      padding-right: 0.8rem;
      height: 50px;
      width: 400px;
      border: 1px solid #C4C4C4;
      border-radius: 12px;
      background-color: white;
      font-size: 1rem;
      box-sizing: border-box;

      .icon{
        margin-top: 0.7rem;
        margin-right: 0.7rem;
        width: 1.6rem;
        height: 1.6rem;
        color: #C4C4C4;
      }

      .input{
        width: 95%;
        font-size: 1rem;
        border: none;

      }
    }
    .id:focus-within{
      outline: 1px solid rgba(136, 136, 136, 0.5);
    }

    .input:focus{
      outline: none;
    }

    .password{
      display: flex;
      margin-top: 0.7rem;
      margin-left: 50px;
      padding-left: 0.8rem;
      padding-right: 0.8rem;
      height: 50px;
      width: 400px;
      border: 1px solid #C4C4C4;
      border-radius: 12px;
      background-color: white;
      font-size: 1rem;
      box-sizing: border-box;

      .icon{
        margin-top: 0.7rem;
        margin-right: 0.7rem;
        width: 1.6rem;
        height: 1.6rem;
        color: #C4C4C4;
      }

      .input{
        width: 100%;
        font-size: 1rem;
        border: none;

      }
    }
    .password:focus-within{
      outline: 1px solid rgba(136, 136, 136, 0.5);
    }

    .password-input:focus{
      outline: none;
    }
  }

  .button{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 2rem;
    margin-left: 50px;
    width: 400px;

    .login{
      display: inline-flex;
      -webkit-box-align: center;
      align-items: center;
      -webkit-box-pack: center;
      justify-content: center;
      font-weight: bold;
      cursor: pointer;
      outline: none;
      border: none;
      background: #538DFF;
      //background: rgb(18, 184, 134);
      color: white;
      border-radius: 4px;
      padding: 0px 1.25rem;
      height: 2.5rem;
      width: 180px;
      font-size: 1rem;
    }

    .register{
      display: inline-flex;
      margin-left: 20px;
      -webkit-box-align: center;
      align-items: center;
      -webkit-box-pack: center;
      justify-content: center;
      font-weight: bold;
      cursor: pointer;
      outline: none;
      border: none;
      background: rgb(134, 142, 150);
      color: white;
      border-radius: 4px;
      padding: 0px 1.25rem;
      height: 2.5rem;
      width: 180px;
      font-size: 1rem;
    }
  }

}