.info-content-profile-form{
  position: relative;
  height: 43px;
  width: 328px;
  margin-left: 49px;
  margin-top: 39px;
  font-size: 1rem;
  border-radius: 1rem;
  border: none;
  outline: none;
  word-break: keep-all;
  background: white;
  color: black;
  transition: all 0.125s ease-in 0s;
  display: flex;
  justify-content: space-around;
  align-items: center;
  box-shadow: rgb(0 0 255 / 4%) 0px 4px 8px 0px;

  >.info-content-profile-key {
    font-weight: bold;
    width: 20%;
    text-align: center;
    margin-left: 10px;
  }

  .info-content-profile-wrapper{
    width: 70%;
    display: flex;
    justify-content: center;
    >.info-content-profile-value{
      font-weight: bold;
      font-size: 16px;
      width: 70%;
      text-align: center;


    }

    > .info-content-profile-edit{
      width: 70%;
      height: 25px;
      margin: 0px 10px 0px 10px;
      font-size: 16px;
      text-align: center;
      border-radius: 7px;
      border: 0.3px solid #C4C4C4;


    }


  }

  >.edit-button-wrapper{
    width: 10%;
    >.edit-button{
      display: flex;
      justify-content: center;
      align-items: center;
      width: 1.5rem;
      height: 1.5rem;
      margin-right: 10px;
      margin-bottom: 10px;
      cursor: pointer;

      &:hover{
        width: 1.6rem;
        height: 1.6rem;
      }
      >.edit-icon{
        width: 100%;
        height: 100%;
      }
    }
  }
}